.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 40px 8%;

    background-color: white;
}

.apresentacao .info {
    width: 60%;
}

.serial {
    border-left: 2px solid var(--gold-color);

    padding: 1% 2%;

    font-weight: 500;
    font-size: 1.25vw;

    color: var(--gold-color);
}

.name {
    font-weight: 700;
    font-size: 3vw;
}

.apresentacao p {
    font-weight: 500;
    font-size: 1.5vw;
}

.quote {
    color: var(--gold-color);
}

.doctor-wrapper {
    position: relative;
}

.doctor {
    position: relative;

    width: 25vw;
    height: 20vw;

    overflow: hidden;

    border-radius: 8px;

    background: linear-gradient(to bottom, #DBB45833, #DBB45800), url('/clinic.png') no-repeat center center;
    background-size: cover;
    z-index: 9;

    box-shadow: 6px -6px 16px 0px #DBB458;
}

.golden-border {
    position: absolute;
    top: -16px;
    left: 16px;
    width: 25vw;
    height: 20vw;
    border: 2px solid var(--gold-color);
    border-radius: 8px;

    z-index: 1;
}

.doctor img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .apresentacao {
        flex-direction: column;
        
        gap: 40px;
    
        padding: 40px 8%;
    
        background-color: white;
    }

    .apresentacao .info {
        width: 100%;
    }

    .serial {
        font-size: 3.75vw;
    }

    .name {
        font-size: 6vw;
    }

    .apresentacao p {
        font-size: 4vw;
    }

    .doctor {
        width: 50vw;
        height: 40vw;
    }

    .golden-border {
        width: 50vw;
        height: 40vw;
    
        z-index: 1;
    }
    
    
}