.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.title-text {
    font-weight: 500;
    font-size: 48px;
    margin: 0px;
    margin-bottom: 16px;
}

.title-style {
    width: 80px;
    height: 4px;
    background-color: var(--gold-color);
}