.home {
    display: flex;
    flex-direction: column;

    height: 100vh;
    box-sizing: border-box;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('/home-bg.png') no-repeat center center;
    background-size: cover;

    padding: 40px 8%;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.logo {
    width: 216px;
}

.home-header nav ul{
    display: flex;
    flex-direction: row;
    gap: 24px;

    list-style-type: none;
    padding-left: 0;
}

.home-header nav ul li{
    font-size: 1.25vw;
    font-weight: 700;

    color: white;
    cursor: pointer;

    transition: all 0.4s;
}

.home-header nav ul li:hover{
    color: var(--gold-color);
}

.home-body {
    display: flex;
    align-items: start;

    position: relative;
    flex-grow: 1;
}

.home-content {
    width: 50%;
    margin-top: 6%;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.home-content .content-header {
    margin: 0px;

    font-weight: 700;
    font-size: 64px;
    line-height: 72px;

    color: white;
}

.home-content .content-data {
    margin: 0px;
    font-weight: 500;
    font-size: 1.5vw;

    color: white;
}

.home-content .content-button {
    width: fit-content;

    margin-top: 40px;
}

@media only screen and (max-width: 600px) {
    .home {
        padding: 20px 0px;

        height: 50vh;
    }

    .home-header {
        gap: 24px;
    }

    .logo {
        width: 116px;
    }

    .home-header nav {
        display: none;
    }

    .home-content {
        display: flex;
        align-items: center;

        width: 100%;
        margin-top: 6%;
        margin-left: auto;
    
        display: flex;
        flex-direction: column;
        gap: 16px;

        padding: 0px 8%;
    }

    .home-content .content-header {
        margin: 0px;
    
        font-weight: 700;
        font-size: 8vw;
        line-height: 10vw;

        text-align: center;
    
        color: white;
    }
    
    .home-content .content-data {
        margin: 0px;
        font-weight: 500;
        font-size: 4.5vw;
    
        text-align: center;

        color: white;
    }
    
    .home-content .content-button {
        width: fit-content;
    
        font-size: 4vw;
    }
}
