.depoimento-cliente {
    display: flex;
    flex-direction: column;
}

.depoimento-nome {
    font-weight: 700;
    font-size: 2.25vw;

    color: var(--gold-color);
}

.depoimento-text {
    font-weight: 500;
    font-size: 1.5vw;

    font-style: italic;
    
    color: white;
}