:root {
    --gold-color: #DBB458;
    font-family: 'Darker Grotesque', sans-serif;
}

button.main-button {
    padding: 8px;
    
    border: 0px;
    border-radius: 8px;

    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    font-size: 16px;

    background-color: var(--gold-color);
    color: black;
}