:root {
    --gold-color: #DBB458;
    font-family: 'Darker Grotesque', sans-serif;
}

button.main-button {
    padding: 8px;
    
    border: 0px;
    border-radius: 8px;

    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    font-size: 1vw;

    background-color: var(--gold-color);
    color: black;

    cursor: pointer;
    background-position: right center;
    
    transition: all 0.4s;
}

button.main-button:hover {
    padding-right: 36px;

    background-image: url('/icon/arrow.png');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 95% center;
}